body{
    background-color: lightcyan;
}
h1{
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}
.container{
    text-align: center;
    margin-top: 30px;
}
table{
    margin: auto;
}

input{
    border-radius: 25px;  /* this makes corner round */
    border: 4px solid brown;
    font-size: 34px;
    width: 456px;
    height: 65px;
}
button{
    border-radius: 25px;
    font-size: 40px;
    background: lightgrey;
    width: 100px;
    height: 65px;
    margin: 4px;
}
.calculator{
    border: 4px solid brown;
    background-color: #e674ea;
    padding: 28px;
    border-radius: 53px;
    display: inline-block;
    
}